body{
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  @extend %gothamPro-400;
  background-color: #161616;
}

.title{
  font-size: 55px;
  line-height: 60px;
  @extend %gothamPro-700;
  span{
    @extend %gothamPro-300;
  }
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

.plumColor{
  color: $plum;
  @extend %gothamPro-700;
}

.btn{
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 10px 26px;
  color: #fff;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.container-xll{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1500px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl .container-xll{
    max-width: 1410px;
  }
}