@media (max-width: 1500px){
  .introduction__item{
    height: 150px;
  }
}

@media (max-width: 1200px){
  .header-bottom{
    background-size: 40%;
  }
  .conditions{
    &__item::after{
      display: none;
    }
  }
  .introduction__item {
    height: 120px;
  }
}


@media (max-width: 992px){
  .header-bottom{
    background-image: none;
    &__content{
      max-width: 100%;
    }
  }
  .residents-item {
    width: 262px; 
  }
  .application__wrapper{
    background-image: none;
    padding: 150px 0;
  }
  .order__title{
    margin-bottom: 30px;
  }
}


@media (max-width: 768px){
  .residents-item{
    width: 210px;
  }
  .footer__btn{
    margin-bottom: 20px;
  }
}


@media (max-width: 576px){
  .title{
    font-size: 40px;
  }
}