@media (max-width: 1200px){
  .header-bottom{
    background-size: 40%;
  }
  .conditions{
    &__item::after{
      display: none;
    }
  }
}


@media (max-width: 992px){
  .header-bottom{
    background-image: none;
    &__content{
      max-width: 100%;
    }
  }
  .residents-item {
    width: 262px; 
  }
}


@media (max-width: 768px){
  .residents-item{
    width: 210px;
  }
}


@media (max-width: 576px){
  .title{
    font-size: 40px;
  }
}