@media (max-width: 1200px){
  .header-bottom{
    background-size: 40%;
  }
  .conditions{
    &__item::after{
      display: none;
    }
  }
}


@media (max-width: 992px){
  .header-bottom{
    background-image: none;
    &__content{
      max-width: 100%;
    }
  }
}