$plum: #A138A3;
%gothamPro-400 {
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
}
%gothamPro-300 {
  font-family: 'GothamPro-Light', sans-serif;
  font-weight: 300;
}
%gothamPro-700 {
  font-family: 'GothamPro-Bold', sans-serif;
  font-weight: 700;
}
%gothamPro-900 {
  font-family: 'GothamPro-Black', sans-serif;
  font-weight: 900;
}