@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  background-color: #161616;
  background-image: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.header-top{
  padding: 7px 0;
  &__menu-btn{
    display: none;
    width: 46px;
    height: 46px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding: 0;
    &.header-top__menu-btn--active{
      &:before,
      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
      &:before{
        transform: rotate(-45deg);
      }
      &:after{
        transform: rotate(45deg);
      }
      span{
        height: 0;
      }
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #161616;
    }
    &:before {
      top: 16px;
    }
    &:after {
      bottom: 16px;
    }
    span {
      width: 18px;
      height: 2px;
      background-color: #161616;
    }
  }
  &__btn{
    margin-right: 30px;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 10px 26px;
    color: #fff;
    &:hover{
      text-decoration: none;
      color: #fff;
    }
  }
}

.header-bottom{
  height: calc(100vh - 68px);
  padding-top: 60px;
  background-image: url('../images/header-bottom_img.png');
  background-size: 48%;
  background-repeat: no-repeat;
  background-position: 98% 30%; 
  &__content{
    min-width: 576px;
    max-width: 600px;
    height: calc(100vh - 200px);
  }
  &__content-subtitle{
    color: #8E8E8E;
    margin-bottom: 14px;
  }
  &__content-title{
    font-size: 55px;
    line-height: 65px;
    @extend %gothamPro-700;
    span{
      @extend %gothamPro-300;
    }
    margin-bottom: 24px;
  }
  &__content-name{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 7px;
    span{
      color: $plum;
    }
  }
  &__content-text{
    margin-bottom: 50px;
    span{
      @extend %gothamPro-700;
    }
  }
  &__content-link{
    border: 2px solid $plum;
    border-radius: 8px;
    padding: 13px 26px;
    color: #fff;
    cursor: pointer;
    width: 205px;
  }
}


.conditions{
  padding: 90px 0 40px;
  background-image: url('../images/conditions-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: auto;
  height: 100%;
  &__item{
    max-width: 270px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__item-img{
    max-width: 582px;
    width: 100%;
    margin-bottom: 90px;
  }
  &__item-title{
    margin-bottom: 15px;
    max-width: 420px;
  }
}

.conditions__items{
  &:nth-child(1){
    & .conditions__item{  
     &:nth-child(1){
      transform: translateX(140px);
      &::after{
        background-image: url('../images/conditions_line/1.svg');
        width: 164px;
        height: 111px;
        top: 0;
        left: -35px;
      }
     }
     &:nth-child(2){
        &::after{
          background-image: url('../images/conditions_line/2.svg');
          width: 314px;
          height: 81px;
          top: 0;
          left: -36px;
        }
     }
     &:nth-child(3){
      transform: translateX(-30px);
      padding-left: 10px;
      &::after{
        background-image: url('../images/conditions_line/3.svg');
        width: 374px;
        height: 61px;
        top: 0;
        left: -28px;
      }
     }
     &:nth-child(4){
      &::after{
        background-image: url('../images/conditions_line/4.svg');
        width: 313px;
        height: 66px;
        top: 0;
        left: -36px;
      }
     }
     &:nth-child(5) {
       transform: translate(140px, -30px);
       &::after {
         background-image: url('../images/conditions_line/5.svg');
         width: 205px;
         height: 59px;
         top: -25px;
         left: -36px;
       }
     }
    }
  }
  &:nth-child(2){
    margin: 0 50px;
    & .conditions__item {
     &:nth-child(1) {
       transform: translateY(-90px);
       &::after {
         background-image: url('../images/conditions_line/6.svg');
         width: 99px;
         height: 124px;
         top: 10px;
         left: -36px;
       }
     }
     &:nth-child(3) {
       &::after {
         background-image: url('../images/conditions_line/7.svg');
         width: 99px;
         height: 100px;
         top: -76px;
         left: -36px;
       }
     }
    }
  }
  &:nth-child(3) {
    & .conditions__item {
      &:nth-child(1){
        transform: translateX(-100px);
        &::after {
          background-image: url('../images/conditions_line/8.svg');
          width: 90px;
          height: 112px;
          top: 0px;
          left: -94px;
        }
      }
      &:nth-child(2) {
        &::after {
          background-image: url('../images/conditions_line/9.svg');
          width: 221px;
          height: 25px;
          top: 11px;
          left: -226px;
        }
      }
      &:nth-child(3) {
        transform: translateX(90px);
        &::after {
          background-image: url('../images/conditions_line/10.svg');
          width: 212px;
          height: 68px;
          top: -44px;
          left: -216px;
        }
      }
       &:nth-child(4) {
         &::after {
           background-image: url('../images/conditions_line/11.svg');
           width: 124px;
           height: 99px;
           top: -63px;
           left: -135px;
         }
       }
      &:nth-child(5) {
        transform: translate(-100px, -30px);
        &::after {
          background-image: url('../images/conditions_line/12.svg');
          width: 177px;
          height: 51px;
          top: -13px;
          left: -185px;
        }
      }
    }
  }
}

.peculiarities{
  padding: 90px 0;
  background: linear-gradient(265.53deg, #A138A3 -9.61%, #272151 104.3%);
  background-image: url('../images/peculiarities-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title{
    margin-bottom: 55px;
  }
  &__item{
    width: 100%;
    background: #161616;
    border: 1px solid #2E2E2E;
    border-radius: 8px;
    height: 96px;
    padding: 18px 20px 18px 32px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    &--color{
      background-color: #fff;
      color: #000;
    }
  }
  &__item-img{
    margin-right: 30px;
  }
}

.residents{
  padding: 200px 0 70px;
  &__title{
    margin-bottom: 50px;
  }
}

.residents-item{
  margin-bottom: 30px;
  &__imgBox{
    position: relative;
    margin-right: 10px;
    margin-bottom: 26px;
    &::after{
      content: '';
      position: absolute;
      border: 1px solid #2E2E2E;
      border-radius: 27px;
      width: calc(100% + 10px);
      min-height: 100%;
      background-color: transparent;
      top: 0;
      left: 0;
    }
  }
  &__img{
    border-radius: 27px;
  }
  &__list{
    display: flex;
    margin-bottom: 15px;
  }
  &__list-link{
    display: inline-block;
    margin-right: 10px;
  }
  &__name{
    font-size: 18px;
    @extend %gothamPro-700;
    margin-bottom: 5px;
  }
  &__text{
    color: #C4C4C4;
  }
}

.application{
  background-image: url('../images/application-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center center;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-image: url('../images/rectangle.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 808px;
    height: 959px;
    top: 70px;
    left: 0;
    z-index: -1;
  }
  &__wrapper{
    padding: 250px 0;
    background-image: url('../images/application-img.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 96% 50%;
  }
}

.form{
  background-color: #1C1C1C;
  padding: 65px 80px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 24px 32px rgba(28, 28, 28, 0.14),
  0px 16px 24px rgba(28, 28, 28, 0.1),
  0px 2px 6px rgba(28, 28, 28, 0.08),
  0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  &__text{
    font-size: 36px;
    line-height: 40px;
    @extend %gothamPro-300;
    max-width: 420px;
    margin-bottom: 30px;
  }
  &__input{
    display: block;
    width: 100%;
    padding: 24px 30px;
    background-color: transparent;
    border: 1px solid #2E2E2E;
    border-radius: 8px;
    color: rgba($color: #fff, $alpha: 0.5);
    margin-bottom: 30px;   
  }
  &__label{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    input{
      @extend %checkbox-hidden;
      &:checked + .form__label-checkbox::before{
        display: block;
      }
    }
    &-checkbox{
      display: inline-block;
      min-width: 23px;
      height: 23px;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      margin-right: 12px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/checked.svg');
        width: 15px;
        height: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }
    }
  }
  &__btn{
    display: inline-block;
    color: #1C1C1C;
    border: none;
    padding: 24px 69px;
    border-radius: 8px;
    background-color: #fff;
    max-width: 238px;
    cursor: pointer;
  }
}

.calendar{
  padding: 120px 0;
  &__items{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 18px;
  }
  &__item{
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 8px;
    &:hover{
      color: #fff;
    }
    &:nth-child(1){
      border: 1px solid #8CC039;
      &:hover {
        background-color: #8CC039;
      }
    }
    &:nth-child(2){
      border: 1px solid #fff;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
    &:nth-child(3){
      border: 1px solid #23C267;
      &:hover {
        background-color: #23C267;
      }
    }
    &:nth-child(4){
      border: 1px solid #00F0F0;
      &:hover {
        background-color: #00F0F0;
      }
    }
    &:nth-child(5){
      border: 1px solid #FFCB11;
      &:hover {
        background-color: #FFCB11;
      }
    }
    &:nth-child(6){
      border: 1px solid #7C89FF;
      &:hover {
        background-color: #7C89FF;
      }
    }
    &:nth-child(7){
      border: 1px solid #FF4646;
      &:hover {
        background-color: #FF4646;
      }
    }
    &:nth-child(8){
      border: 1px solid #FF3CD4;
      &:hover {
        background-color: #FF3CD4;
      }
    }
    &:nth-child(9){
      border: 1px solid #B28D08;
      &:hover {
        background-color: #B28D08;
      }
    }
    &:nth-child(10){
      border: 1px solid #D13E7B;
      &:hover {
        background-color: #D13E7B;
      }
    }
    &:nth-child(11){
      border: 1px solid #A138A3;
      &:hover {
        background-color: #A138A3;
      }
    }
  }
}

.introduction{
  padding: 80px 0;
  background-image: url('../images/introduction-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  &__title{
    margin-bottom: 64px;
  }
  &__item{
    padding: 30px;
    background-color: #161616;
    display: flex;
    align-items: flex-start;
    border-radius: 30px;
    height: 130px;
    margin-bottom: 30px;
  }
  &__item-img{
    margin-right: 18px;
  }
}

@import 'media';