@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  background-color: #161616;
  background-image: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  margin-top: 72px;
}

.header-top{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 7px 0;
    z-index: 101;
  &__wrapper{
    padding-top: 10px;
    position: relative;
  }
  &__menu-btn{
    display: none;
    width: 46px;
    height: 46px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding: 0;
    &.header-top__menu-btn--active{
      &:before,
      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
      &:before{
        transform: rotate(-45deg);
      }
      &:after{
        transform: rotate(45deg);
      }
      span{
        height: 0;
      }
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #161616;
    }
    &:before {
      top: 16px;
    }
    &:after {
      bottom: 16px;
    }
    span {
      width: 18px;
      height: 2px;
      background-color: #161616;
    }
  }
  &__btn{
    margin-right: 30px;
  }
}

.logo__img{
  margin-left: 10px;
}

.menu{
  position: fixed;
  height: 100%;
  max-width: 423px;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #833788;
  z-index: 100;
  transform: translateX(200%);
  transition: all .3s;
  &__active{
    transform: translateX(0);
  }
  &__wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
  }
  &__list{
    width: 100%;
  }
  &__list-item{
    border-bottom: 1px solid #9A40A0;
  }
  &__list-link{
    display: block;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    padding: 15px 0;
    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
}

.header-bottom{
  height: calc(100vh - 68px);
  padding-top: 60px;
  background-image: url('../images/header-bottom_img.png');
  background-size: 48%;
  background-repeat: no-repeat;
  background-position: 98% 30%; 
  animation-name: topImg;
  animation-duration: 2s;
  &__content{
    min-width: 576px;
    max-width: 600px;
    height: calc(100vh - 200px);
  }
  &__content-subtitle{
    color: #8E8E8E;
    margin-bottom: 14px;
  }
  &__content-title{
    margin-bottom: 24px;
  }
  &__content-name{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 7px;
    span{
      color: $plum;
    }
  }
  &__content-text{
    margin-bottom: 50px;
    span{
      @extend %gothamPro-700;
    }
  }
  &__content-link{
    border: 2px solid $plum;
    border-radius: 8px;
    padding: 13px 26px;
    color: #fff;
    cursor: pointer;
    width: 205px;
    &:hover {
      text-decoration: none;
      color: #fff;
      box-shadow: 0px 0px 24px rgba(252, 0, 255, 0.6);
    }
  }
}

.modal-body{
  padding: 0px;
  border-radius: 40px;
  background-color: transparent;
}



.modal{
  padding-right: 0 !important;
  .form{
    position: relative;
  }
  .close{
    position: absolute;
    right: 34px;
    top: 34px;
  }
}

.modal-dialog{
  max-width: 700px;
  padding: 0 16px;
}

.conditions{
  padding: 130px 0 90px;
  background-image: url('../images/conditions-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: auto;
  height: 100%;
  &__wrapper{
    display: flex;
    justify-content: center;
  }
  &__item{
    max-width: 270px;
    position: relative;
    padding-left: 30px !important;
    &::before {
      content: '';
      position: absolute;
      background-color: #8D398E;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      left: 6px;
      top: 8px;
      transform: translate(-6%, 0%);
      border-radius: 50%;
      min-width: 12px;
    }
    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      left: -1px; 
      top: 1px;
      border-radius: 50%;
      border: 1px solid rgba(161, 56, 163, 1);
      animation-name: borderCol;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      min-width: 25px;
    }
    span{
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }
  &__item-img{
    max-width: 582px;
    width: 100%;
    margin-bottom: 90px;
  }
  &__item-title{
    margin-bottom: 15px;
    max-width: 420px;
  }
}

.conditions__items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:nth-child(1) {
    & .conditions__item{
      &:nth-child(1) {
        transform: translateX(140px);
        span {
          background-image: url('../images/conditions_linee/1.svg');
          width: 88px;
          height: 99px;
          top: 14px;
          left: 10px;
        }
      }
      &:nth-child(2) {
        span{
          background-image: url('../images/conditions_linee/2.svg');
          width: 302px;
          height: 56px;
          top: 7px;
          left: 11px;
        }
      }
      &:nth-child(3) {
        transform: translateX(-30px);
        padding-left: 10px;
        span{
          background-image: url('../images/conditions_linee/3.svg');
          width: 362px;
          height: 36px;
          top: 14px;
          left: 10px;
        }
      }
      &:nth-child(4) {
        span{
          background-image: url('../images/conditions_linee/4.svg');
          width: 301px;
          height: 42px;
          top: 15px;
          left: 10px;
        }
      }
      &:nth-child(5) {
        transform: translate(140px, -30px);
        span{
          background-image: url('../images/conditions_linee/5.svg');
          width: 193px;
          height: 34px;
          top: -19px;
          left: 10px;
        }
      }
    }
  }
  &:nth-child(2) {
    align-items: center;
    margin: 0 50px;
    & .conditions__item {
      &:nth-child(1) {
        transform: translateY(-90px);
        span{
          background-image: url('../images/conditions_linee/6.svg');
          width: 87px;
          height: 99px;
          top: 14px;
          left: 11px;
        }
      }

      &:nth-child(3) {
        span{
          background-image: url('../images/conditions_linee/7.svg');
          width: 87px;
          height: 75px;
          top: -60px;
          left: 10px;
        }
      }
    }
  }

  &:nth-child(3) {
    & .conditions__item {
      &:nth-child(1) {
        transform: translateX(-100px);
        span{
          background-image: url('../images/conditions_linee/8.svg');
          width: 77px;
          height: 88px;
          top: 13px;
          left: -65px;
        }
      }
      &:nth-child(2) {
        span{
          background-image: url('../images/conditions_linee/9.svg');
          width: 196px;
          height: 2px;
          top: 13px;
          left: -185px;
        }
      }

      &:nth-child(3) {
        transform: translateX(90px);
        span{
          background-image: url('../images/conditions_linee/10.svg');
          width: 187px;
          height: 57px;
          top: -41px;
          left: -175px;
        }
      }
      &:nth-child(4) {
        span{
          background-image: url('../images/conditions_linee/11.svg');
          width: 99px;
          height: 88px;
          top: -72px;
          left: -88px;
        }
      }
      &:nth-child(5) {
        transform: translate(-100px, -30px);
        span{
          background-image: url('../images/conditions_linee/12.svg');
          width: 152px;
          height: 40px;
          top: -24px;
          left: -141px; 
        }
      }
    }
  }
}

.peculiarities{
  padding: 90px 0;
  background: linear-gradient(265.53deg, #A138A3 -9.61%, #272151 104.3%);
  background-image: url('../images/peculiarities-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title{
    margin-bottom: 55px;
  }
  &__item{
    width: 100%;
    background: #161616;
    border: 1px solid #2E2E2E;
    border-radius: 8px;
    height: 96px;
    padding: 18px 20px 18px 32px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    @extend %gothamPro-700;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/plus-mini.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 34px;
      height: 34px;
    }
    &:hover{
      background-color: #F8F8F8;
      color: #161616;
      &::after{
        opacity: .1;
      }
      .peculiarities__item-img{
        path{
          fill: #161616;
        }
      }
    }
  }
  &__item-one{
    &::after {
      right: 16px;
      top: 7px;
    }
  }
  &__item-two{
    &::after {
      right: 19px;
      bottom: 8px;
    }
  }
  &__item-three{
    &::after {
      right: 93px;
      bottom: 18px;
    }
  }
  &__item-four{
    &::after {
      top: 32px;
      right: 23px;
    }
  }
  &__item-text{
    position: relative;
    z-index: 1;
  }
  &__item-img{
    margin-right: 30px;
  }
}

.residents{
  padding: 200px 0 70px;
  &__title{
    margin-bottom: 50px;
  }
}

.residents-item{
  margin-bottom: 30px;
  &__imgBox{
    position: relative;
    margin: 13px 10px 26px 0;
    // padding-bottom: 26px;
    &::after{
      content: '';
      position: absolute;
      border: 1px solid #2E2E2E;
      border-radius: 27px;
      width: calc(100% + 10px);
      min-height: calc(100% + 13px);
      background-color: transparent;
      top: -13px;
      left: 0;
    }
    &:hover{
      position: relative;
      margin: 0 0 26px 0;
      &::after{
        top: 0;
        width: calc(100%);
        min-height: calc(100%);
      }
    }
  }
  &__img{
    border-radius: 27px;
  }
  &__list{
    display: flex;
    margin-bottom: 15px;
  }
  &__list-link{
    display: inline-block;
    margin-right: 10px;
  }
  &__name{
    font-size: 18px;
    @extend %gothamPro-700;
    margin-bottom: 5px;
  }
  &__text{
    font-size: 14px;
    line-height: 18px;
    color: #C4C4C4;
  }
}

.application{
  background-image: url('../images/application-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center center;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-image: url('../images/rectangle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 90%;
    top: 70px;
    left: 0;
    z-index: -1;
  }
  &__wrapper{
    padding: 250px 0;
    background-image: url('../images/application-img.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 96% 50%;
  }
}

.form{
  background-color: #1C1C1C;
  padding: 65px 80px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 24px 32px rgba(28, 28, 28, 0.14),
  0px 16px 24px rgba(28, 28, 28, 0.1),
  0px 2px 6px rgba(28, 28, 28, 0.08),
  0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  &__text{
    font-size: 36px;
    line-height: 40px;
    @extend %gothamPro-300;
    max-width: 420px;
    margin-bottom: 30px;
  }
  &__input{
    display: block;
    width: 100%;
    padding: 24px 30px;
    background-color: transparent;
    border: 1px solid #2E2E2E;
    border-radius: 8px;
    color: rgba($color: #fff, $alpha: 0.5);
    margin-bottom: 30px;   
  }
  &__label{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    color: #8E8E8E;
    input{
      @extend %checkbox-hidden;
      &:checked + .form__label-checkbox::before{
        display: block;
      }
    }
    &-checkbox{
      display: inline-block;
      min-width: 23px;
      height: 23px;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      margin-right: 12px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/checked.svg');
        width: 15px;
        height: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }
    }
  }
  &__btn{
    display: inline-block;
    color: #1C1C1C;
    border: none;
    padding: 24px 69px;
    border-radius: 8px;
    background-color: #fff;
    max-width: 238px;
    cursor: pointer;
    @extend %gothamPro-500;
  }
}

.calendar{
  padding: 120px 0;
  &__title{
    margin-bottom: 40px;
  }
  &__items{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 110px;
  }
  &__item{
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 18px 18px 0;
    &:hover{
      color: #fff;
    }
    &:nth-child(1){
      border: 1px solid;
      border-color: #8CC039;
      &:hover {
        background-color: #8CC039;
      }
    }
    &:nth-child(2){
      border: 1px solid #fff;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
    &:nth-child(3){
      border: 1px solid #23C267;
      &:hover {
        background-color: #23C267;
      }
    }
    &:nth-child(4){
      border: 1px solid #00F0F0;
      &:hover {
        background-color: #00F0F0;
      }
    }
    &:nth-child(5){
      border: 1px solid #FFCB11;
      &:hover {
        background-color: #FFCB11;
      }
    }
    &:nth-child(6){
      border: 1px solid #7C89FF;
      &:hover {
        background-color: #7C89FF;
      }
    }
    &:nth-child(7){
      border: 1px solid #FF4646;
      &:hover {
        background-color: #FF4646;
      }
    }
    &:nth-child(8){
      border: 1px solid #FF3CD4;
      &:hover {
        background-color: #FF3CD4;
      }
    }
    &:nth-child(9){
      border: 1px solid #B28D08;
      &:hover {
        background-color: #B28D08;
      }
    }
    &:nth-child(10){
      border: 1px solid #D13E7B;
      &:hover {
        background-color: #D13E7B;
      }
    }
    &:nth-child(11){
      border: 1px solid #A138A3;
      &:hover {
        background-color: #A138A3;
      }
    }
  }
}

.table-responsive{
  background: #1C1C1C;
  border-radius: 30px;
  padding: 20px;
}

.introduction{
  padding: 80px 0;
  background-image: url('../images/introduction-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  &__title{
    margin-bottom: 64px;
  }
  &__item{
    padding: 30px;
    background-color: #161616;
    display: flex;
    align-items: flex-start;
    border-radius: 30px;
    height: 130px;
    margin-bottom: 30px;
  }
  &__item-img{
    margin-right: 18px;
  }
  &__item-text{
    @extend %gothamPro-700;
  }
}

.order{
  background-image: url('../images/application-bg.svg');
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: top center;
  width: 100%;
  padding: 140px 0 120px;
  &__items{
    margin-top: 20px;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    padding-bottom: 55px;
    border-bottom: 1px solid #747474;
    &:hover{
      .order__item-number::before {
        transition: all 8s;
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
    &:last-child{
      padding-left: 10px;
      border-bottom: none;
      margin-bottom: 0px;
      padding-bottom: 0qpx;
      .order__item-number{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .order__item-text{
        padding-left: 5px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__item-number{
    font-size: 48px;
    color: $plum;
    font-family: Roboto;
    font-weight: 700;
    margin-right: 79px;
    transform: translateX(16px);
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/ellipse.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 88px;
      height: 87px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  &__item-text{
    span{
      color: $plum;
    }
  }
  &__item-link{
    display: inline-block;
    margin-top: 15px;
  }
}

.footer{
  padding: 70px 0;
  background-color: $plum;
  &__btn{
    display: inline-block;
    margin-top: 20px;
  }
  &__info{
    display: flex;
    align-items: center;
  }
  &__info-copy{
    margin-right: 54px;
    color: #E782E9;
    font-size: 14px;
  }
  &__info-aigamImg{
    margin-right: 10px;
  }
  &__info-aigamText{
    font-size: 14px;
  }
}

.menufutter{
  .menu__wrapper{
    padding: 0;
  }
  .menu__list{
    display: flex;
    flex-wrap: wrap;
  }
  .menu__list-link{
    font-size: 16px;
    padding: 5px 0;
  }
  .menu__list-item{
    margin-right: 20px;
  }
}

.nav-link{
  color: #fff;
}

.table-responsive{
  min-width: 315px;
  width: 100%;
  margin: 5px;
  overflow: visible;
}

.slick-slide{
  margin: 0 30px;
}

.slick-slider .slick-dots {
  margin-top: 15px;
}
.slick-dots li button{
    background-color: $plum;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    &::before{
      content: '';
    }
}
.slick-dots .slick-active button {
    width: 20px;
    height: 20px;
    background-color: $plum;
  
}

#calendarBig {
  /* весь календарь */
  margin: 0 auto;
  border-spacing: 0 6.5em;
}

#tbodyMain{
  // border-spacing: 10px 5px;
  padding: 30px;
}

#calendarBig td{
  vertical-align: top;
}

#calendarBig thead tr:nth-child(1) td {
  text-align: start;
  padding-bottom: 23px;
}

#calendarBig>thead td{
  display: none !important;
}

.tdMain{
  padding: 0;
  &--bott{
    padding-bottom: 30px;
  }
}

#calendarBig,
#calendarBig table {
  @extend %gothamPro-400;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}

#calendarBig table {
  /* таблицы с месяцами выравнены по верхней границе, горизонтально — по центру */
  display: inline-table;
}

#calendarBig table thead tr:nth-child(1) {
  /* названия месяцев */
  font-size: 18px;
  font-weight: 700;
}

#calendarBig table thead tr:last-child {
  /* название дней недели */
  font-size: 12px;
  font-weight: 700;
  color: #2E2E2E;
}

#calendarBig table tbody td {
  /* дни */
  color: #fff;
  padding: 7px;
}

#calendarBig table tbody td:nth-child(n+6),
#calendarBig .holiday {
  /* выходные и праздники */
  color: #fff;
}

#calendarBig table tbody {
  .dosug{
    border-radius: 50%;
    background-color: #FFCB11;
  }
  .obraz{
    border-radius: 50%;
    background-color: #FF3CD4;
  }
  .sport{
    border-radius: 50%;
    background-color: #fff;
    color: #000;
  }
  .master{
    border-radius: 50%;
    background-color: #D13E7B;
  }
}

#calendarBig table tbody td[title] {
  /* выделенные даты */
  outline: 3px solid green;
  background: yellow;
  cursor: help;
}

#calendarBig table tbody td[title] a {
  /* выделенные даты-ссылки */
  display: block;
  text-decoration: none;
}

#calendarBig table tbody td[title] a:hover {
  /* выделенные даты-ссылки под курсором */
  background: #fde910;
  color: red;
}

@keyframes topImg{
  from {
    background-position: 200% 30%;
  }
  to {
   background-position: 98% 30%;
  }
}

@keyframes borderCol{
  from{
    border: 1px solid rgba(161, 56, 163, 1);
  }
  50%{
    border: 1px solid rgba(161, 56, 163, .5);
  }
  to{
    border: 1px solid rgba(161, 56, 163, 0);
  }
}


@import 'media';